task3/src/main/java/com/ifmo/client/generated/PersonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ifmo.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ifmo.com/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://ifmo.com/" schemaLocation="http://localhost:12344/PersonService?xsd=1" />
</xsd:schema>
</types>
<message name="updatePerson">
<part name="parameters" element="tns:updatePerson" />
</message>
<message name="updatePersonResponse">
<part name="parameters" element="tns:updatePersonResponse" />
</message>
<message name="IllegalIdException">
<part name="fault" element="tns:IllegalIdException" />
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson" />
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse" />
</message>
<message name="getPersons">
<part name="parameters" element="tns:getPersons" />
</message>
<message name="getPersonsResponse">
<part name="parameters" element="tns:getPersonsResponse" />
</message>
<message name="getPersonsById">
<part name="parameters" element="tns:getPersonsById" />
</message>
<message name="getPersonsByIdResponse">
<part name="parameters" element="tns:getPersonsByIdResponse" />
</message>
<message name="createPerson">
<part name="parameters" element="tns:createPerson" />
</message>
<message name="createPersonResponse">
<part name="parameters" element="tns:createPersonResponse" />
</message>
<message name="checkPersonExistingById">
<part name="parameters" element="tns:checkPersonExistingById" />
</message>
<message name="checkPersonExistingByIdResponse">
<part name="parameters" element="tns:checkPersonExistingByIdResponse" />
</message>
<portType name="PersonWebService">
<operation name="updatePerson">
<input message="tns:updatePerson" />
<output message="tns:updatePersonResponse" />
<fault message="tns:IllegalIdException" name="IllegalIdException" />
</operation>
<operation name="deletePerson">
<input message="tns:deletePerson" />
<output message="tns:deletePersonResponse" />
<fault message="tns:IllegalIdException" name="IllegalIdException" />
</operation>
<operation name="getPersons">
<input message="tns:getPersons" />
<output message="tns:getPersonsResponse" />
</operation>
<operation name="getPersonsById">
<input message="tns:getPersonsById" />
<output message="tns:getPersonsByIdResponse" />
<fault message="tns:IllegalIdException" name="IllegalIdException" />
</operation>
<operation name="createPerson">
<input message="tns:createPerson" />
<output message="tns:createPersonResponse" />
<fault message="tns:IllegalIdException" name="IllegalIdException" />
</operation>
<operation name="checkPersonExistingById">
<input message="tns:checkPersonExistingById" />
<output message="tns:checkPersonExistingByIdResponse" />
<fault message="tns:IllegalIdException" name="IllegalIdException" />
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="updatePerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal" />
</fault>
</operation>
<operation name="deletePerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal" />
</fault>
</operation>
<operation name="getPersons">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPersonsById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal" />
</fault>
</operation>
<operation name="createPerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal" />
</fault>
</operation>
<operation name="checkPersonExistingById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="IllegalIdException">
<soap:fault name="IllegalIdException" use="literal" />
</fault>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:12344/PersonService" />
</port>
</service>
</definitions>